<%-include("../header") %>
    <div class="container">
        <header class="jumbotron">
            <h1>Welcome To YelpCamp!</h1>
            <p>View Our Hand-picked Campground From All Over The World</p>
            <a class="btn btn-info btn-md"href="/campgrounds/new">Add a new campground</a>
        </header>
        <div  class="row text-center" style="display:flex; flex-wrap:wrap;">
            <% campgrounds.forEach(function(camp){%>
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%=camp.image%>" >
                        <div class="caption">
                            <li><strong><%= camp.name %></strong></li>
                        </div>
                        <a href="/Campgrounds/<%=camp._id%>" class="btn btn-md btn-success">Show More..</a>
                    </div>        
                </div>        
            <%})%>
        </div>
    </div>
<%-include("../footer") %>